h3
{
    font-size: 25px !important;
}
.btn-sucess:hover
{
    background-color: cornflowerblue;
}
canvas{
    animation-duration: 4s; 
    animation-name: example;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px aqua;}
    to{box-shadow: 1px 1px 38px crimson;}
}